PORT=4800
DB_HOST=localhost
DB_PORT=5432
DB_NAME=salesvera_db
DB_USER_NAME=postgres
DB_PASSWORD=your_password

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_S3_BUCKET=your_s3_bucket_name

JWT_SECRET=dovetailPharma
BREVO_USER=your_brevo_user
BREVO_PASS=your_brevo_password
EMAIL_FROM=salesvera@dovetailsolutions.in
GOOGLE_MAP_API_KEY=your_google_maps_api_key
